@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="blog_area section-padding">
    <div class="slider_area">
        <div class="single_slider d-flex align-items-center justify-content-center slider_bg_1">
            <div class="container ">
                <div class="row align-items-center justify-content-center">
                    <div class="col-xl-6 col-md-6 ">
                        <div class="illustrator_png">
                            <img src="~/img/LogoBlanco2.png" alt="" />
                            <div class="slider_info">
                                <a href="#" class="btn btn-danger">About us</a>
                            </div>

                        </div>

                    </div>

                    <div class="col-xl-6 col-md-6 ">
                        <div class="slider_info">
                            <ul>
                                <li><h3 class="rounded">Equipo de sonido </h3></li>
                                <li><h3 class="rounded">Iluminación</h3></li>
                                <li><h3 class="rounded">Accesorios </h3></li>
                                <li><h3 class="rounded">Refacciones oficiales  </h3></li>
                            </ul>

                            <a href="#" class="btn btn-info">Ir a tienda</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="service_area">
        <div class="row">
            <div class="col-xl-12">
                <div class="titulo text-center mb-50">
                    <h3>Nuestos servicios</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="col-12 col-sm-12 ">
                    <div class="single_service   service_bg_1">
                        <div class="service_hover">
                            <img src="img/Nuevas/IconoBocina-Edit.png" alt="">
                            <h3>Bocinas</h3>
                            <div class="hover_content">
                                <div class="hover_content_inner">
                                    <h4>Bocinas</h4>
                                    <p>Los mejoes equpos de emicion de sonido</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-12 ">
                    <div class="single_service   service_bg_1">
                        <div class="service_hover">
                            <img src="img/Nuevas/IconoBocina-Edit.png" alt="">
                            <h3>Bocinas</h3>
                            <div class="hover_content">
                                <div class="hover_content_inner">
                                    <h4>Bocinas</h4>
                                    <p>Los mejoes equpos de emicion de sonido</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-6">
                <div class="col-12 col-sm-12 ">
                    <div class=" single_service_right  service_bg_1">
                        <div class="service_hover">
                            <img src="img/Nuevas/IconoBocina-Edit.png" alt="">
                            <h3>Bocinas</h3>
                            <div class="hover_content">
                                <div class="hover_content_inner">
                                    <h4>Bocinas</h4>
                                    <p>Los mejoes equpos de emicion de sonido</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-12 ">
                <div class="single_service  service_bg_1">
                    <div class="service_hover">
                        <img src="img/Nuevas/IconoBocina-Edit.png" alt="">
                        <h3>Bocinas</h3>
                        <div class="hover_content">
                            <div class="hover_content_inner">
                                <h4>Bocinas</h4>
                                <p>Los mejoes equpos de emicion de sonido</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>




    <section class="about_area">
        <div class="container-fluid p-0">
            <div class="row no-gutters align-items-center ">
                <div class="col-xl-6 col-lg-6">
                    <div class="about_image">
                        <img src="~/img/escala grises.jpg" alt="Alternate Text" />
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6">
                    <div class="about_info">

                        <h3>Te ayudamos a conseguir el mejor equipo de sonido</h3>
                        <h6> Con la mejores marcas de equipo de sonido profecionales <br> podrás darle a tu público una mejor experienca musical</h6>
                        <ul>
                            <li> Adquiere equipo de sonido al mejor precio</li>
                            <li> Equipate con los mejores accesorio </li>
                            <li> Ilumina el ecenario con las mejores proyectores</li>
                        </ul>

                        <div class="about_btn">
                            <a class="boxed-btn3" href="#">Contactanos</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="">
        <div class="about_wrap_area about_bg_1 ">
            <div class="container ">
                <div class="row">
                    <div class="col-xl-4 col-md-6 col-lg-4">
                        <div class="single_service_wrap text-center">
                            <img src="~/img/icons/controls.svg" alt="">
                            <h3>Nivela mejor tus</h3>
                            <p>Saca el maximo potencial a tus aquipos </p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6 col-lg-4">
                        <div class="single_service_wrap text-center">
                            <img src="~/img/icons/bar-chart.svg" alt="">
                            <h3>Incrementa tu audiencia</h3>
                            <p> Conoce como obtner mas publico </p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6 col-lg-4">
                        <div class="single_service_wrap text-center">
                            <img src="~/img/icons/puzzle.svg" alt="">
                            <h3>Ten un equipo completo</h3>
                            <p>conoce todo el equipo necesario</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="signup" class="signup-section">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-lg-8 mx-auto text-center">
                    <i class="far fa-paper-plane fa-2x mb-2"></i>
                    <h2 class="titulo-contacto mb-5">Conocenos</h2>
                    <p class="texto-undertitle">
                        Algun texto que se le ocurra a rolando, tal vez un eslogan o <br />
                        o algun dato interesante para que los visitantes esten mas <br />
                        interesados en la marca
                    </p>
                </div>
            </div>
        </div>

        <div class="container redes">
            <div class="row">
                <div class="col-md-4 mb-3 mb-md-0">
                    <div class="card py-4 h-100 bg-card">
                        <div class="card-body text-center">
                            <i class="fas fa-map-marked-alt text-primary mb-2"></i>
                            <h4 class="text-uppercase m-0">Address</h4>
                            <hr class="my-4">
                            <p>
                                4923 Market Street, Orlando FL
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 mb-3 mb-md-0">
                    <div class="card py-4 h-100 bg-card">
                        <div class="card-body text-center">
                            <i class="fas fa-envelope text-primary mb-2"></i>
                            <h4 class="text-uppercase m-0">Email</h4>
                            <hr class="my-4">
                            <div class="">
                                <a href="#">hello@yourdomain.com</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 mb-3 mb-md-0">
                    <div class="card py-4 h-100 bg-card">
                        <div class="card-body text-center">
                            <i class="fas fa-mobile-alt text-primary mb-2"></i>
                            <h4 class="text-uppercase m-0">Redes sociales </h4>
                            <hr class="my-4">
                            <div class="socail_links align-content-center">

                                <a href="#">
                                    <i class="ti-facebook"></i>
                                </a>

                                <a href="#">
                                    <i class="ti-twitter-alt"></i>
                                </a>

                                <a href="#">
                                    <i class="fa fa-instagram"></i>
                                </a>

                                <a href="#">
                                    <i class="fa fa-youtube-play"></i>
                                </a>

                            </div>

                        </div>
                    </div>
                </div>
            </div>



        </div>


        <div class="content fifth-content redes">
            <div class="container-fluid">
                <div class="col-md-12">
                    <div id="map">
                        <!-- How to change your own map point
                                1. Go to Google Maps
                                2. Click on your location point
                                3. Click "Share" and choose "Embed map" tab
                                4. Copy only URL and paste it within the src="" field below
                        -->
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3647.3030413476204!2d100.5641230193719!3d13.757206847615207!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xf51ce6427b7918fc!2sG+Tower!5e0!3m2!1sen!2sth!4v1510722015945" width="100%" height="500px" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                </div>

            </div>
        </div>

    </section>
</div>
<!-- footer start -->
<!--/ footer end  -->
